.app-layout {
  &__header {
    padding: 1rem 0;
    color: #fff;
    background: #2c3e50;
  }

  &__container {
    max-width: 90vw;
    margin: 0 auto;
    padding: 0 2rem;
  }

  &__title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
  }

  &__main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 204px);
    background: #fff;
  }

  &__footer {
    padding: 2rem 0;
    text-align: center;
    color: #fff;
    background: #2c3e50;
  }

  &__text {
    margin: 0.5rem 0;
    font-size: 0.9rem;
  }
}
